PyQt6
wifi>=0.3.8
opencv-python
cmake
face_recognition
cvzone
mediapipe
numpy
scipy
pillow
ultralytics
scikit-learn
face_recognition
dlib
picamera2
fastapi
uvicorn[standard]
vastai
python-multipart
qrcode
pillow  # Required by qrcode