PyQt6
wifi>=0.3.8
opencv-python
cmake
numpy
scipy
pillow
ultralytics
scikit-learn
picamera2
fastapi
uvicorn[standard]
vastai
python-multipart
qrcode
pillow  # Required by qrcode
aiohttp
aiofile
asyncio
netifaces
pyngrok
python3-xlib
xdotool
network-manager
zmq
