PyQt6
wifi>=0.3.8
opencv-python
cmake
numpy
scipy
pillow
ultralytics
scikit-learn
picamera2
fastapi
uvicorn[standard]
vastai
python-multipart
qrcode
pillow  # Required by qrcode
aiohttp
aiofiles
asyncio
netifaces
pyngrok
python3-xlib
xdotool
network-manager
adafruit-circuitpython-servokit
adafruit-circuitpython-bh1750
adafruit-circuitpython-apds9960
zmq
